$primary-color: #FFCC15;

.page {
    margin: auto;
    margin-top: 156px;
    max-width: 768px;
  
    &__top {
        display: flex;
    }

    &__bottom {
        display: flex;
        justify-content: end;
    }

    &__jokes-list {
        margin: 32px 0;
        columns: 2 277px;
        column-gap: 1rem;
    }

    @media screen and (max-width: 1080px) {
        max-width: 300px;
        margin-top: 64px;

        &__bottom, &__top {
            justify-content: center;
        }
    }
}